@charset "UTF-8";

main {
	display: flex;
	flex-direction: column; 
	justify-content: center;
	align-items: center;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.newPostContainer {
	width: 100%;
	padding-top:5rem;
}

.feedContainer{
	width: 100%;
	padding-top: 2rem;
}

.card-body {
	width: 100%;
}

.loggedInAs {
	color: white;
}